version: '3'

services:
  product-database:
    container_name: product-database
    image: mysql:latest
    restart: always
    environment:
      MYSQL_USER: 'product-user'
      MYSQL_PASSWORD: Password01!
      MYSQL_DATABASE: Products
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    ports: 
        - 3306:3306

  product-api:
    container_name: product-api
    image: product-service:latest
    ports:
      - 8080:80
    environment:
      LOGIN_API_URL: 'http://172.17.0.1:8081/api'
    depends_on:
      - product-database